<section style="background-color :#5b3e31; padding-top: 80px;height: 850px;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-6">
        <div class="card rounded-4 shadow-sm text-black" style="border: none;">
          <div class="card-body p-5">
            <div class="text-center">
              <h4 class="mt-1 mb-3" style="color: #4e3b31; font-family: 'Poppins', sans-serif;">Welcome</h4>
              <p style="color: #4e3b31;">Please login to your account</p>
              <div class="d-grid gap-2 col-8 mx-auto text-danger badge" *ngIf="loginError">
                {{ERRORMSG}}
              </div>
              <br>
            </div>
            <form [formGroup]="loginFormGroup" (ngSubmit)="loginButton()">
              <div formGroupName="login" class="form-outline mb-4">
                <label for="exampleInputEmail1" style="color: #4e3b31; font-family: 'Poppins', sans-serif;">Email</label>
                <input type="text" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" style="border: 2px solid #4e3b31; border-radius: 20px;">
                <p *ngIf="loginFormGroup.get('login.email')?.invalid && (loginFormGroup.get('login.email')?.dirty || loginFormGroup.get('login.email')?.touched)" class="text-danger">
                  Email is required
                </p>
              </div>
              <div formGroupName="login" class="form-outline mb-4">
                <label for="exampleInputPassword1" style="color: #4e3b31; font-family: 'Poppins', sans-serif;">Password</label>
                <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password" style="border: 2px solid #4e3b31; border-radius: 20px;"><br>
                <p *ngIf="loginFormGroup.get('login.password')?.invalid && (loginFormGroup.get('login.password')?.dirty || loginFormGroup.get('login.password')?.touched)" class="text-danger">
                  Password is required
                </p>
              </div>
              <div class="d-grid gap-2 col-8 mx-auto">
                <button class="btn" type="submit" style="background-color: #4e3b31; color: white; border-radius: 20px; font-size: 16px;">Log in</button>
              </div>
              <div class="text-center mt-3">
                <a href="/register" style="color: #4e3b31; font-family: 'Poppins', sans-serif;">Register as a new user</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">
